@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

// Text :
$font-family: 'Montserrat', sans-serif;
$color-text: #fff;
$size-text: 1.2rem;
$font-weight-text: 600;
$line-height-text: 1.5;
$letter-spacing-text: 0.1rem;
$font-style-text: normal;

// Title :
$color-title: #fff;
$size-title: 2rem;
$font-weight-title: 800;
$line-height-title: 1.5;
$letter-spacing-title: 0.1rem;
$font-style-title: normal;

// Background :
$color-background: #4B4746;
$color-background-header: #343333;
$color-background-nav: #4B4746;
$color-background-nav-head: #DB8656;
